// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$mid-gray: #adb5bd;

$first: #F9CB9C;
$second: #E69138;
$third: #F6B000;
$fourth: #00A9C8;
$l-first: #FEF5EC;
$dark: #2D3142;

$dark-green: #168b0c;
