<div class="banner-shop" style="background-image: linear-gradient(rgba(249, 203, 156,0.2),rgba(230, 145, 56 ,0.4)), url(https://source.unsplash.com/lH973Qz0Iy4/1600x900);">
  <div class="container">
    <figure id="logo-shop">
       <%= image_tag "test-logo.png" %>
    </figure>
    <h1>XO Nappy</h1>
  </div>
</div>
<main>
  <section class="seller row">
    <div class="container">
      <figure>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
      </figure>
      <h3>Nadine MARIN</h3>
    </div>
  </section>
  <section class="row brand-details">
    <div class="container">
      <div class="col-12 col-md-8">
        <article>
          <h2>Notre marque</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quas velit accusantium vero beatae cumque mollitia sit qui soluta officia, facilis inventore earum. Adipisci voluptate harum ullam eligendi. Vero, ipsam.</p>
        </article>
      </div>
      <div class="col-12 col-md-4">
        <aside>
          <h2>Nous contactez</h2>
          <p><i class="fas fa-map-marker-alt"></i></p>
          <p><i class="fas fa-phone-alt"></i></p>
          <p><i class="fas fa-envelope"></i></p>
          <p><a href="#">www.xo-nappy.fr</a></p>
          <p>Nos réseaux sociaux</p>
          <ul>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-twitter"></i></li>
          </ul>
        </aside>
      </div>
    </div>
  </section>
  <section class="row brand-product">
    <div class="container">
      <h2>Nos produits</h2>
      <div class="row">
        <div class="col-6 col-md-3">
          <figure class="product-img">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm" %>
          </figure>
          <h3>Shampooing</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p><strong>13€</strong></p>
        </div>
      </div>
    </div>
  </section>
</main>
