<div class="banner" style="background-image: linear-gradient(rgba(249, 203, 156,0.2),rgba(230, 145, 56 ,0.4)), url(https://source.unsplash.com/lH973Qz0Iy4/1600x900);">
  <div class="container">
    <h1>Produits capillaires de chez nous</h1>
    <p>Prenez soin de vos cheveux avec des produits caribéens</p>
     <div class="row justify-content-center">
        <div class="col-8">
          <form class="sb-example-3 mt-4">
            <input class="search__input" type="text" placeholder="Je recherche...">
          </form>
        </div>
     </div>
  </div>
</div>
<main>
  <section class="products py-5">
    <div class="container">
      <h2>Nos produits naturels</h2>
    </div>
  </section>
</main>
