.banner {
  background-size: cover;
  background-position: center;
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 2.2rem;
    font-weight: 700;
  }

  p {
    font-size: 1.5rem;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

// animation translation H1 HOMEPAGE
.titre {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.5);

    .text-slide {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: end;
      width: 40%;
      max-width: 320px;
      min-height: 4rem;
      font: 3.2rem $headers-font;
      font-weight: 700;
      font-style: italic;
      line-height: 3.7rem;
      margin-right: 1.4rem;

      span {
        position: absolute;
        opacity: 0;
        letter-spacing: -1px;
        -webkit-animation: textSlider 20s linear infinite;
        animation: textSlider 20s linear infinite;

        &:nth-child(1) {
         -webkit-animation-delay:-20s;
         animation-delay:-20s
        }
        &:nth-child(2) {
         -webkit-animation-delay:-15s;
         animation-delay:-15s
        }
        &:nth-child(3) {
         -webkit-animation-delay:-10s;
         animation-delay:-10s
        }
        &:nth-child(4) {
         -webkit-animation-delay:-5s;
         animation-delay:-5s
        }
      }
    }

    h1 {
      font: 2.7rem $headers-font;
      margin: 0;
      line-height: 4rem;
      text-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.5);
    }
  }


.banner-shop {
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;

  h1 {
    font-size: 2.8rem;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: 700;
  }
}

@media (max-width: "770px") {
  .banner .titre {
    flex-direction: column;
    .text-slide {
      align-items: center;
      margin-right: 0;
    }
  }
}
