footer {
  background: $dark;
  height: 100px;
  color: white;
  padding: 0px 50px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-links {
    display: flex;
    align-items: center;

    a {
      color: $second;
      opacity: 1;
      font-size: 24px;
      padding: 0px 10px;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  p {
    margin: 0;
  }

}
