@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  min-height: 8vh;
  font-family: 'poppins';
  box-shadow: 0 1px 8px rgba($color: #000000, $alpha: 0.4);
}

#logo a {
  color: black;
  font-family: 'poppins';
  letter-spacing: 2px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 500;
}

.list-icons {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-right: 30px;
  text-decoration: none;
  margin: 0px 25px 0px 0px;
}

.nav-link {
  font-size: 18px;
  padding-left: 20px;
  color: black;
  text-decoration: none;

}

.nav-link:hover {
  color: #F8CC9B;
}
