.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav li {
font-size: 20px;
padding-left: 20px;
color: #F8CD9A;
}

#btn-blue {
text-decoration: none;
color: white;
background-color: #00A9C8;
border-radius: 20px;
}
