.actions {
  border: 1px solid $mid-gray;
  border-radius: 5px;
  padding: 12px;
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.round-bordered {
  border: 1px solid $mid-gray;
  border-radius: 50%;
  width: 35px;
  font-size: 18px;
  color: $mid-gray;
  height: 35px;
  padding: 2px 3px;
}
